includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - src
